# Minimum Django, REST framework and inflection version
Django>=1.8,<1.10.0
djangorestframework>=3.1,<3.4
inflection==0.3.1

# Test requirements
pytest-django==2.8.0
pytest==2.7.2
pytest-cov==1.6
flake8==2.2.2
django-polymorphic>=0.8,<0.9

# wheel for PyPI installs
wheel==0.38.1

# MkDocs for documentation previews/deploys
mkdocs==0.14.0
